// vars
$black-100: #000000;
$black-200: #282828;
$black-300: #181818;
$white-100: #ffffff;
$gray-100: #F9F9F9;
$gray-200: #F3F3F3;
$gray-300: #7B7B7B;
$gray-400: #eeeeee;
$gray-500: #777777;
$gray-600: #B6B6B6;
$gray-700: #CACACA;
$gray-800: #F4F4F4;
$gray-900: #8D8D8D;
$gray-1000: #D7D7D7;
$orange-100: #EB5A1E;
$yellow-100: #FFDF8C;
